html,body{height:100%;}

body > div {
    height:45%;
    position: relative;
    z-index: 1;
}

body > div > div {
    height:100%;
}

name.h1 {
    height:10%;
    margin-top:0;
    margin-bottom:0;
}

timeline {
    height: 45%;
}

blurb, contact {
    height: 100%;
}

timeline {
	position: relative;
	z-index: 2;
}

