body {
    background-color: #262626;
    /* light: 595959 */
    color: #cbcbcb;
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'ralewaythin', 'Helvetica Neue', "Calibri Light", "Calibri", Helvetica, Arial, sans-serif;
}

name, timeline {
    display:block;
}

blurb, contact {
    padding-top: 15px;
    line-height: 30px;
    font-size: 20px;
    letter-spacing: 0.4px;
    word-spacing: 5px;
    text-align: justify;
    border-top: solid 1px #595959;
}

blurb {
    border-right: solid 1px #595959;
}

blurb p {
    padding-bottom:2em;
}