timeline ol {
    padding:0;
    height: 100%;
}

timeline li {
    list-style-type:none;
    margin:0;
    padding:0;
    border-bottom:solid 1px;
    height:20%;
}

timeline span {
    display:block;
    float:left;
    height:40%;
    border:solid 1px;
}

timeline li:nth-child(1) span {
    margin-left: 4.45%;
    width:18.28%;
}

timeline li:nth-child(2) span {
    margin-left: 25%;
    width:25%;
}

timeline li:nth-child(3) span {
    margin-left: 56.81%;
    width:11.37%;
}

timeline li:nth-child(4) span {
    margin-left: 68.18%;
    width:22.73%;
}

timeline li:nth-child(5) span {
    margin-left: 90.91%;
    width:4.54%;
}