activity .images {
    margin:0;
    padding:0;
    list-style-type:0;
}

activity .images li {
    float:left;
    padding:2px;
}

activity spiel {
    max-height: 200px;
    overflow-y: scroll;
    display:block;
}