activity .images img {
	width: 33%;
	float: left;
	padding-left: 2px;
	margin-top: 10px;
}

activity .spiel {
	max-height: 200px;
	overflow-y: scroll;
	display: block;
}

timeline activity {
	display: block;
	background-color: #3C3C3C;
	position: relative;
	top: 50%;
	margin-top: -1.5em;
	padding: 11px;
	border-radius: 5px;
	-webkit-transition: width 0.7s, margin-left 0.7s, background-color 0.7s, -webkit-transform 0.7s;
	transition: width 0.7s, margin-left 0.7s, background-color 0.7s;
	overflow: hidden;
	z-index: 1;
}

timeline .displayOnHover {
	max-height: 0;
	-webkit-transition: max-height 0.7s, -webkit-transform 0.7s;
	transition: max-height 0.7s;
	overflow: hidden;
}

timeline jobTitle {
	display: block;
	text-overflow: ellipsis;
	/* Required for text-overflow to do anything */
	white-space: nowrap;
	overflow: hidden;
	-webkit-transition: font-size 0.7s, -webkit-transform 0.7s;
	transition: font-size 0.7s;
}

timeline .activityRow:hover activity {
	background-color: #595959;
	/* important required to overwrite Nth child selector.
	will get removed when using js to transition. */
	width: 40% !important;
	max-width: 410px;
	margin-left: 20% !important;
	z-index: 2;
}

timeline .activityRow:hover jobTitle {
	font-size: 18px;
}

timeline .activityRow:hover .displayOnHover {
	max-height: 340px;
}

activity .date {
	font-weight: bold;
	display: block;
	margin: 5px 0px;
}